.stat > label {
    background-color: #5c6463;
    color: #eeeeee;
    font-size: 15px;
}

.qq_group_label {
    font-size: 15px;
}

.qq_group_list > row {
    font-size: 15px;
}

.info_box {
    background-color: teal;
    color: #eeeeee;
    font-size: 15px;
    line-height: 1.1;
}

.progressbar {
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    min-height: 3px;
}

.progressbar > trough {
    min-height: 3px;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: #464d4c;
}

.progressbar > trough > progress {
    border-radius: 0;
    padding: 0;
    margin: 0;
    min-height: 3px;
    background: linear-gradient(180deg, #008080, #02fafd);
    transition: width 0.5s ease-in-out;
}

.control {
    border: 0;
    font-size: 26px;
    line-height: 1.2;
    background-color: #EEE;
    padding: 0 3px;
}

.follow {
    border: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 24px;
    line-height: 1;
    background-color: #eee;
    padding: 0 3px;
}

.content {
    padding: 0 5px 5px 5px;
    background-color: #464d4c;
}
