.stat > label {
    background-color: #5c6463;
    color: #eeeeee;
    font-size: 15px;
}

.info_box {
    background-color: teal;
    color: #eeeeee;
    font-size: 14px;
}

.control {
    border: 1px solid gray;
    /*border-radius: 10px;*/
    font-size: 25px;
    line-height: 1.2;
    background-color: #EEE;
    padding: 0 3px;
}

.follow {
    border: 1px solid gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 24px;
    line-height: 24px;
    background-color: #eee;
    padding: 0 3px;
}

.content {
    padding: 0 5px 5px 5px;
    background-color: #464d4c;
}
